.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-div {
  margin: 20px;
  text-align: center;
}

.header-div h1 {
  color: #777da7;
}

.main-input-div {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.input-todo-div {
  margin-right: 15px;
}